:root {
  --primary-text-color: #5B5B5B;
}

* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 1rem;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 25px 20px -20px;
}

#header-left {
  min-width: 350px;
  display: flex;
  gap: 1rem;
  align-items: center;
}

#header-left > h1 {
  color: var(--primary-text-color)
}

#content {
  width: 50vw;
  max-width: 700px;
  margin: auto;
  padding: 1rem;
  margin-top: 5rem;
  @media screen and (max-width: 800px) {
    width: 60vw;
  }
  @media screen and (max-width: 600px) {
    width: 70vw;
  }
  @media screen and (max-width: 500px) {
    width: 80vw;
  }
  @media screen and (max-width: 400px) {
    width: 95vw;
  }
}

#search-container {
  display: flex;
  align-items: center;
  gap: 1rem;
  @media screen and (max-width: 500px) {
    flex-direction: column;
  }
}

#search-input {
  width: 80%;
  padding: 10px;
  border: 1px solid gray;
  border-radius: 5px;
  outline: none;
  font-size: 20px;
  color: var(--primary-text-color);
  @media screen and (max-width: 500px) {
    width: 90%;
    margin: auto;
    font-size: 14px;
  }
}

#search-button {
  padding: 12px 15px;
  background: var(--primary-text-color);
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  @media screen and (max-width: 500px) {
    font-size: 13px;
    padding: 8px 10px;
  }
}

#result-container, #loader {
  padding: 2rem 0;
}

#word-with-audio {
  display: flex;
  align-items: center;
  gap: 8px;
}

#searched-word {
  font-size: 22px;
  letter-spacing: 1.2px;
  color: var(--primary-text-color);
  @media screen and (max-width: 500px) {
    font-size: 16px;
  }
}

#audio-container {
  height: 24px;
  display: none;
}

.definition-box {
  margin: 2rem 0;
  padding: 4px 1rem;
  border-left: 2px solid var(--primary-text-color);
}

.info-text {
  line-height: 24px;
  margin-bottom: 4px;
  @media screen and (max-width: 500px) {
    font-size: 13px;
  }
}

#error-container {
  display: none;
  align-items: center;
  gap: 6px;
}

#error-message {
  color: red;
}

#loader {
  display: none;
}